*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#0f172a;
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    gap: 50px;
}
body{
    overflow-x: hidden;
}

.hero-text{
    flex: 1;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero-text h3{
    color:#00d4ff;
    font-size:1.8rem;
}

.hero-text h2{
    color:#e5e5e5;
    font-size:2rem;
}

.hero-text h1{
    font-size:4rem;
    font-weight:700;
   color: #ffffff;
   text-shadow: 0 0 8px rgba(0,212,255,0.4);
}
.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 28px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.hero-image{
    flex:1;
    text-align:center;
    min-width:300px;
}

.hero-image img{
    width: 350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    object-position:center top;
    border:4px solid #00d4ff;
    box-shadow:0 0 15px rgba(0,212,255,0.4);
}
.hero-image img{
    max-width:100%;
}

section{
    padding:80px 10%;
}

.section-title{
    text-align:center;
    font-size:35px;
    color:#38bdf8;
    margin-bottom:40px;
}

.about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
}

.about-content{
    max-width: 850px;
    text-align: center;
}

.about-content h2{
    font-size: 42px;
    margin-bottom: 30px;
    color: #38bdf8;
}

.about-content p{
    font-size: 20px;
    line-height: 1.8;
    color: #cbd5e1;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}
.skills-text{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:40px;
}
.skills{
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 250px;

}

.skill-card{
    background:#1e293b;
    padding:20px;
    width:220px;
    height: 90px;
    text-align:center;
    border-radius:12px;
    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-10px);
}
.skills-text{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:40px;
    font-size:18px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
    max-width:1000px;
    margin:auto;
}

#projects{
    min-height:auto;
    padding:100px 10%;
}

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card h3{
    color:#38bdf8;
    margin-bottom:15px;
}
.projects-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.internship-card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
}
.internship-card p{
    color:#cbd5e1;
    margin-top:8px;
    line-height:1.6;
    font-size:16px;
}

.contact{
    text-align:center;
}

.contact p{
    margin:10px 0;
}
.contact a{
    display:block;
    color:#ffffff;
    text-decoration:none;
    margin:10px 0;
}

.profile-buttons{
    text-align:center;
    margin-top:20px;
}

.profile-buttons button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    margin:10px;
    cursor:pointer;
    font-weight:bold;
}

.linkedin{
    background:#0077b5;
    color:white;
}

.github{
    background:#0077b5;
    color:white;
}


footer{
    text-align:center;
    padding:20px;
    background:#000814;
    color:white;
}
@media(max-width:768px){

nav{
    flex-direction:column;
    padding:15px;
}

nav ul{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}

nav ul li{
    margin-left:0;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
    padding:40px 20px;
}

.hero-text h1{
    font-size:2.5rem;
    line-height:1.2;
}

.hero-text h3{
    font-size:1.5rem;
}

.hero-image img{
    width:250px;
    height:250px;
}

.about-content h2,
.section-title{
    font-size:2.2rem;
}

.about-content p{
    font-size:18px;
}

.skill-card,
.project-card,
.internship-card{
    width:100%;
}

.projects{
    grid-template-columns:1fr;
}

.profile-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.profile-buttons button{
    width:200px;
}

}
.project-card:hover,
.internship-card:hover,
.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #38bdf8;
}
.hero-text h1{
    animation: glow 2s infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px #38bdf8;
    }

    to{
        text-shadow:0 0 30px #38bdf8;
    }
}

